<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
    <!-- Meta Tags -->
    <title>AirGuitar</title>
    <meta name="description" content="" />
    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <!-- Mobile Internet Explorer ClearType Technology -->
    <!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
    <!-- Bootstrap -->
    <link href="_include/css/bootstrap.css" rel="stylesheet" />
    <link href="_include/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Main Style -->
    <link href="_include/css/main.css" rel="stylesheet" />
    <!-- Supersized -->
    <link href="_include/css/supersized.css" rel="stylesheet" />
    <link href="_include/css/supersized.shutter.css" rel="stylesheet" />
    <!-- FancyBox -->
    <link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <!-- Font Icons -->
    <link href="_include/css/fonts.css" rel="stylesheet" />
    <!-- Shortcodes -->
    <link href="_include/css/shortcodes.css" rel="stylesheet" />
    <!-- Responsive -->
    <link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="_include/css/responsive.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="_include/css/custom.css" rel="stylesheet" />
    <link href="_include/css/owl-carousel/owl.carousel.css" rel="stylesheet"/>
    <link href="_include/css/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- Google Font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="#" />
    <link rel="apple-touch-icon" href="#" />
    <link rel="apple-touch-icon" sizes="114x114" href="#" />
    <link rel="apple-touch-icon" sizes="72x72" href="#" />
    <link rel="apple-touch-icon" sizes="144x144" href="#" />
    <!-- Modernizr -->
    <script src="_include/js/modernizr.js"></script>
    <!-- Analytics -->
    <script>
    (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
    (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-60445377-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Analytics -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="_include/js/angular-facebook.js"></script>
    <script src="_include/js/fbLogin2.js"></script>
    <script src="_include/js/app.js"></script>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
    <body data-ng-app="CiulApp" data-ng-controller="MainController" >
        <div class="alert alert-danger alert-dismissible shadow" role="alert" style="position: fixed; top: 10px; right: 10px; width: 300px; z-index: 50000; display:none">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            You have reached the maximum amount of pedals. To add a different pedal, please remove an existing one from your pedal board.
        </div>
        <!-- This section is for Splash Screen -->
        <!-- End Homepage Slider -->
        <!-- Header -->
        <header  >
            <div class="sticky-nav" >
                <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
                <div id="logo">
                    <a id="goUp" href="index.html#home-slider" title="AirGuitar">AirGuitar</a>
                </div>
                <nav id="menu">
                    <ul id="menu-nav" >
                        <li><a href="index.html#home-slider">Home</a></li>
                        <li><a href="index.html#work">Air Guitar</a></li>
                        <li><a href="index.html#about">About Us</a></li>
                        <li><a href="index.html#pricing">Pricing</a></li>
                        <li><a href="index.html#contact">Contact Us</a></li>
                        <li><a href="feedback.html#">Feedback</a></li>
                        <li><a href="app.html#">Try AirGuitar</a></li>
                        <li data-ng-show="logged" data-ng-disabled="!facebookReady" style="color : #fff;"><img ng-src="{{image}}" class="img-rounded" style=" height:30px ;"/> {{user.name}}</li>
                        <li>
                            <a data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</a>
                            <a data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()"> Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <div>
            <div ng-controller="appController">
                <div class="page" style="padding: 20px 0;">
                    <h2 style="text-align:center;"><span class="color-text"><strong>PICK</strong></span> a Pedal</h2>
                    <div id="pedal-carousel" class="owl-carousel owl-theme">
                        <div ng-repeat="pedal in pedals" ng-click="addPedal(pedal)">
                            <div class="item" style="margin: 0 auto;">
                            </div>
                            <div style="text-align:center;">
                                <p><strong>{{pedal.name}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-alternate page-pedal-list">
                    <div class="container">
                        <h2 style="color:#fff; text-align:center;"><span class="color-text"><strong>COMBINE</strong></span> Pedals</h2>
                        <h3 style="color:#fff;">Pedal Slots Remaining: <span class="color-text"><strong>{{maxPedals-userPedals.length}}</strong></span></h3>
                        <ul class="inline">
                            <li ng-repeat="pedal in userPedals">
                                <div class="pedal-distortion">
                                    <span class="glyphicon glyphicon-remove-circle close white pull-right" ng-click="removePedal(pedal)"></span>
                                </div>
                                <div style="text-align:center;">
                                    <p style="color:#fff;"><strong>{{pedal.name}}</strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page" style="padding-top:50px;padding-bottom:0;">
                <h2 style="text-align:center;"><span class="color-text"><strong>RECORD</strong></span> Your Tune</h2>
                <div viz style="background:#202020;">
                    <canvas id="analyser" width="1024" height="200">
                    </canvas>
                </div>
                <div class="tile-bg" style="text-align:center;height:280px">
                    <ul class="inline">
                        <button class="btn btn-lg btn-success" onclick="startRecording(this);">Start Recording</button>
                        <button class="btn btn-lg btn-danger" onclick="stopRecording(this);" disabled>Stop Recording</button>
                    </ul>
                    <br>
                    <ul id="recordingList">
                    </ul>
                </div>
                <div class="container">
                    <div id="viz">
                    <pre id="log" style="display:none;"></pre>
                </div>
            </div>
        </div>
    </div>
    <!-- Socialize -->
    <div id="social-area" class="page-alternate">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav id="social">
                        <ul>
                            <li><a href="#social-area" title="Follow Us on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                            <li><a href="#social-area" title="Follow Us on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                            <li><a href="#social-area" title="Follow Us on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <p class="credits" style="padding-top:100px;">&copy;2013 AirGuitar.</p>
        </div>
    </div>
    <!-- End Socialize -->
    <!-- Js -->
    <script>
    function __log(e, data) {
    log.innerHTML += "\n" + e + " " + (data || '');
    }
    var audio_context;
    var recorder;
    function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    __log('Media stream created.');
    // Uncomment if you want the audio to feedback directly
    //input.connect(audio_context.destination);
    //__log('Input connected to audio context destination.');
    recorder = new Recorder(input);
    __log('Recorder initialised.');
    }
    function startRecording(button) {
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    __log('Recording...');
    }
    function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    button.previousElementSibling.disabled = false;
    __log('Stopped recording.');
    // create WAV download link using audio data blob
    createDownloadLink();
    recorder.clear();
    }
    function createDownloadLink() {
    recorder && recorder.exportWAV(function(blob) {
    var url = URL.createObjectURL(blob);
    var li = document.createElement('li');
    var au = document.createElement('audio');
    var d1 = document.createElement('div');
    var d2 = document.createElement('div');
    var d3 = document.createElement('div');
    var hf = document.createElement('a');
    var hd = document.createElement('a');
    var h3 = document.createElement('h3');
    var p = document.createElement('p');
    li.className = "span";
    au.controls = true;
    au.src = url;
    hf.href = url;
    hf.download = new Date().toISOString() + '.wav';
    hf.innerHTML = '<button class="btn btn-block btn-lg btn-primary"><strong>Download</strong>   <span class="glyphicon glyphicon-download"></span></button>';
    h3.innerHTML = '<h3 style="color:#fff">Your Track</h3>';
    p.innerHTML = '<p style="color:#fff">(' + hf.download + ')</p>';
    d1.appendChild(h3);
    d1.appendChild(p);
    d1.appendChild(au);
    d1.appendChild(hf);
    li.appendChild(d1);
    recordingList.removeChild(recordingList.firstChild);
    recordingList.appendChild(li);
    });
    }
    function removeRecording(url) {
    var list = document.getElementById("recordingList");
    var item = document.getElementById(url);
    list.removeChild(item);
    }
    window.onload = function init() {
    try {
    // webkit shim
    window.AudioContext = window.AudioContext || window.webkitAudioContext;
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
    window.URL = window.URL || window.webkitURL;
    audio_context = new AudioContext;
    __log('Audio context set up.');
    __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
    alert('No web audio support in this browser!');
    }
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
    __log('No live audio input: ' + e);
    });
    };
    </script>
    <script src="_include/js/audiodisplay.js"></script>
    <script src="_include/js/recorder.js"></script>
    <script src="_include/js/audio.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
    <script src="_include/js/jquery-1.9.1.min.js"></script>
    <script src="_include/js/owl.carousel.js"></script>
    <script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
    <script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
    <script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
    <script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
    <script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
    <script>
    $(document).ready(function() {
    var owl = $("#pedal-carousel");
    owl.owlCarousel({
    itemsCustom: [
    [0, 1],
    [100, 1],
    [200, 1],
    [300, 2],
    [400, 3],
    [500, 5],
    [600, 4],
    [700, 5],
    [800, 5],
    [900, 7],
    [1000, 8],
    [1200, 10],
    [1400, 11],
    [1600, 12]
    ]
    });
    });
    </script>
    <!-- Model 1 for free fb login -->
    <div class="modal fade in" id="modal-1" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Require Login!</h4>
                </div>
                <div class="modal-body">
                    Please Login to Facebook To Continue
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I Rather Not!</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="IntentLogin()">Login</button> <!--might need to add Aref here to link to demo -->
                </div>
            </div>
        </div>
    </div>
    <!-- Model 2 for semi pro fb login -->
    <div class="modal fade in" id="modal-2" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Require Login!</h4>
                </div>
                <div class="modal-body">
                    Please Login to Facebook To Continue
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I Rather Not!</button>
                    <button href="payment/initiate/1" type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="IntentLogin()">Login</button> <!-- link to paypal -->
                </div>
            </div>
        </div>
    </div>
    <!-- Model 2 for pro fb login -->
    <div class="modal fade in" id="modal-3" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Require Login!</h4>
                </div>
                <div class="modal-body">
                    Please Login to Facebook To Continue
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I Rather Not!</button>
                    <button href="payment/initiate/2" type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="IntentLogin()">Login</button> <!-- link to paypal -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Js -->
</body>
</html>